h1,h2,h3,h4,h5,h6 {
    font-family: 'Arvo', serif;
    text-shadow: rgba(0,0,0,.4) 0 1px 2px;
}

h1 {
    font-size: 2.1em;
}

h2 {
    margin: 0 auto;
}

h1, h2, h3, h4, h5 {
    text-align: center;
}

h4 {
    font-size: 24px;
}
h5 {
    font-size: 20px;
}

section {
    width: 100%;
    padding-top: 45px;
    overflow: hidden;
}

header {
    height: 100%;
    width: 100%;
}

a:hover {
    color: #64305b;
    text-decoration: none;
    font-weight: 600;
}

.transparent {
    zoom: 1;
    filter: alpha(opacity=20);
    opacity: 0.2;
}

.purple1 {
    background-color: #6f345e;
}
.purple2 {
    background-color: #64305b;
}
.blue1 {
    background-color: #4cc8ec;
}
.blue2 {
    background-color: #2fb0d4;
}
.orange {
    background-color: #ff9b48;
}
.green {
    background-color: #28b270;
}
.yellow1 {
    background-color: #ffeaa3;
}
.yellow2 {
    background-color: #fbbf51;
}


.single-padding {
    padding: 0 32px;
}

.double-padding {
    padding: 0 64px;
}

.custom-btn {
    border: none;
    border-radius: 4px;
    will-change: opacity, transform;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.custom-btn:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

/* ------------------------- */


.section-top {
    background-color: #20a89e;
    background-image: url("../img/bg-pattern.png");
    background-repeat: repeat-x;
    height: 772px;
    position: relative;
    overflow: visible;
}

.top-logo {
    width: 100%;
    text-align: center;
}

.top-logo img {
    width: 55%;
    max-width: 283px;
    height: auto;
}

.nav-links {
    position: relative;
    top: -55px;
    right: 55px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding-left: 20px;
    float: right;
}

.nav-links a:hover {
    color: #64305b;
    text-decoration: none;
    font-weight: 600;
}

.section-top h1 {
    padding-top: 20px;
    line-height: 40px;
}

/* Promo content */
.section-top h1.promo {
    padding-top: 0;
    padding-bottom: 25px;
}

.form-contain {
    margin-bottom: 40px;
}

#email-capture input {
    width: 75;
    max-width: 450px;
    height: 50px;
    font-weight: 200;
    color: #786f5e;
    font-size: 32px;
    padding-left: 8px;
    border: none;
    border-radius: 4px;
    box-shadow: rgba(0,0,0,.3) 0 0 30px;
}

.form-contain button{
    width: 25%;
    height: 50px;
    border: none;
    border-radius: 4px;
    position: relative;
    bottom: 2px;
    margin-left: 5px;
    background-color: #6f345e;
    box-shadow: rgba(0,0,0,.3) 0 0 10px;
    font-size: 25px;

}

.steps {
    padding-bottom: 25px
}

.steps h1 {
    padding-top: 4px;
}

.step {
    padding-bottom: 25px
}

.steps .step .core-text {
    background-color: #1a8c84;
}

.download-btn {
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
}

.download-btn p {
    margin-bottom: 3px;
}

.download-btn a {
    color: #fff;
}

.visible-xs-inline {
    display: none;
}
.ipad {
    padding-top: 40px;
    text-align: center;
    position: relative;
    z-index: 2;
}

.ipad a:hover {
    cursor: pointer;
}

.ipad .modal-dialog {
    max-width: 900px;
    width: auto;
    margin: 0 auto;
    padding: 120px 5% 0 5%;
}

.ipad .modal-dialog .modal-content {
    background-color: #6f345e;
}

.ipad .modal-dialog .modal-content .modal-body {
    padding: 0;
}

#promo-video video {
    position: relative;
}

.promo-desc-title {
    background-color: #1a8c84;
    padding-bottom: 45px;
}

.section-girl {
    background: #fff;
    height: 800px;
    position: relative;
    z-index: 0;
    padding-top: 0;
}

.section-girl .container {
    position: relative;
    height: 800px;
}

.section-girl img.girl {
    position: absolute;
    bottom: 0;
    right: 0;
}

.screen-time {
    position: relative;
    top: 300px;
    left: 200px;
    display: inline-block;
}

.screen-time img {
    margin-left: 137px;
    padding-bottom: 25px;
}

.screen-time h3 {
    color: #9a2979;
    margin: 0;
    text-align: left;
    font-size: 34px;
    text-shadow: rgba(0,0,0,.3) 0 1px 0;
    font-weight: 500;
    line-height: 50px;
}

.screen-time p {
    color: #786f5e;
    font-size: 18px;
}

.section-tab {
    padding-top: 0;
    margin-top: -60px;
}

.tab {
    margin: 0 auto;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: #64305b;
    position: relative;
    z-index: 1;
}

.tab img {
    width: 50px;
    height: auto;
    margin-left: 34px;
    margin-top: 18px;
}

.section-we-set {
    background-color: #64305b;
    margin-top: -60px;
    padding-bottom: 45px;
    min-height: 145px;
}

.section-we-set h2, .section-we-set h3 {
    margin: 0 auto;
    text-align: center;
    max-width: 480px;
    padding: 15px 0 0 0;
    position: relative;
    z-index: 2;
}

/* SECTION CORE PRINCIPLES */

.section-principles {
    background-color: #6f345e;
    position: relative;
    z-index: 0;
}

.section-principles-headline {
    padding-bottom: 15px;
}

.section-principles-subtext {
    margin: 0 auto;
    text-align: center;
    max-width: 600px;
    padding: 0 64px 45px 64px;
}

.core-principles {
    padding-bottom: 25px
}

.core-principle {
    padding-bottom: 25px
}

.core-icon {
    margin: 0 auto;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 4px solid #fff;
    position: relative;
    z-index: 2;
}

.core-icon.blue1 img {
    width: 50px;
    height: 50px;
    margin: 12px 0 0 16px;
}

.core-icon.orange img {
    margin: 15px 0 0 14px;
}

.core-icon.green img {
    margin: 18px 0 0 17px;
}

.core-text {
    margin-top: -45px;
    background-color: #64305b;
    z-index: 1;
    padding: 64px 32px 32px 32px;
    height: 234px;
}


/* BLUE SECTION */

.section-ipad {
    padding: 0;
    height: 484px;
    background-color: #2fb0d4;
    margin: 0 auto;
    text-align: center;
    position: relative;
    text-align: center;
    overflow: visible;
    z-index: 1;
}

.section-ipad img {
    max-width: 100%;
    margin-top: -61px;
}


.section-what-sets {
    background-color: #4cc8ec;
    padding-bottom: 45px;
    min-height: 145px;
    position: relative;
    z-index: 0;
}

.section-set-aparts {
    background-color: #2fb0d4;
}

.set-aparts {
    padding-bottom: 10px
}

.set-apart {
    padding-bottom: 25px
}

.set-apart-icon {
    margin: 0 auto;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    background-color: #fff;
}

.set-apart-icon img {
    width: 69px;
    height: auto;
    padding-top: 17px;
    padding-left: 18px;
}

.set-apart-icon._one img {
    margin: 5px 0 0 2px;
}

.set-apart-icon._two img {
    width: 60px;
    height: auto;
    margin: 6px 0 0 7px;
}

.set-apart-icon._three img {
    width: 60px;
    height: auto;
    margin: 0 0 0 9px;
}

.set-apart-icon._four img {
    width: 60px;
    height: auto;
    margin: 10px 0 0 5px;
}

.set-apart-text {
    margin-top: -45px;
    background-color: #2fb0d4;
    z-index: 1;
    padding: 64px 0 20px 0;
}

/* SECTION MEET US */

.section-meet-us {
    background-color: #fbbf51;
    padding-bottom: 45px;
    min-height: 145px;
}

.section-meet-us h2 {
    font-size: 35px;
}

.section-meet-us .subtext {
    text-align: center;
    font-size: 16px;
    color: #786f5e;
}

.section-team {
    background-color: #ffeaa3;
}

.section-team h3 {
    color: #c79840;
    text-shadow: none;
    padding-bottom: 20px;
}

.section-team .container {
    max-width: 1024px;
}

.team {
    padding-bottom: 35px;
}

.team-member {
    padding: 0 20px;
}

.team-member div {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
}

.team-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #9e669c;
}

.team-photo img {
    position: relative;
    border-radius: 50%;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.team-photo img.face {
    width: 120px;
    height: 120px;
    border: 4px solid #fff;
    box-shadow: rgba(0,0,0,.4) 0 2px 4px;
    -webkit-filter: sepia(20%);
    -moz-filter: sepia(20%);
    filter: sepia(20%);
}

.team-photo button.info-icon {
    position: relative;
    bottom: 116px;
    border-radius: 50%;
    border: none;
    width: 112px;
    height: 112px;
    opacity: 0;
    background-image: url("../img/info-icon.png");
    background-size: 112px;
    padding: 0;

}

.team-member .team-name button {
    background: none;
    border: none;
    padding: 0;
}


.team-member h4 {
    margin: 10px 0 0 0;
    color: #806226;
    text-shadow: none;
}

.team-member h4 img {
    display: none;
}

.team-member p {
    margin: 0;
    color: #c79840;
}

.team .modal {
    padding-top: 15%;
    padding-right: 15px;
    padding-left: 15px;
}
.team .modal .modal-content {
    max-width: 475px;
    background: #FFEAA3;
    padding: 20px;
}

.modal-content .close {
    margin-top: 0;
    font-size: 30px;
    color: #6f345e;
}

.team .modal-header{
    border-bottom: none;
    width: 90%;
    margin: 0 auto;
}

.team .modal img.face {
    background-color: #9e669c;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: rgba(0,0,0,.4) 0 2px 4px;
    -webkit-filter: sepia(20%);
    -moz-filter: sepia(20%);
    filter: sepia(20%);
}

.team .modal .modal-body {
    padding-top: 0;
}

.team .modal .modal-body p {
    text-align: left;
    color: #806226;
    padding-top: 0;
    padding-bottom: 20px;
}

.team .modal button.btn {
    background-color: #6f345e;
}


.advisor-text {
    margin: 0 auto;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    color: #786f5e;
    max-width: 480px;
    padding-bottom: 55px
}

.footer {
    background-color: #fbbf51;
    padding-bottom: 25px;
    min-height: 100px;
    position: relative;
    overflow: hidden;
}

.footer .container {
    width: 55%;
}

.footer-links {
    text-align: center;
}

.footer-links div{
    padding-bottom: 15px;
}

.footer-links a {
    font-family: 'Arvo', serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}

.footer .globe {
    position: absolute;
    top: 0;
    right: 10px;
    height: 130px;
}


@media (max-width: 1200px) {

    .section-girl img.girl {
        left: 0;
    }

    .screen-time {
        left: 75px;
    }

    .core-text {
        height: 276px;
    }

    .section-ipad {
        height: 100%;
    }

    .section-ipad img {
        display: inline-block;
        max-width: 100%;
        margin-top: -45px;
        margin-bottom: -60px;
    }
}

@media (min-width: 1024px) {

    .team .team-member:hover {
        cursor: pointer;
    }

    .team-member:hover .team-photo button.info-icon {
        opacity: 1;
        background-color: rgba(0,0,0,.4);
    }

}

@media (max-width: 1024px) {

    .team .team-member button h4 {
        text-decoration: underline;
        font-size: 22px;
    }

    .team .team-member h4 img {
        display: inline-block;
        padding-left: 5px;
        padding-bottom: 2px;
        height: 24px;
    }
}
@media (max-width: 991px) {
    .double-padding {
        padding: 0 32px;
    }

    .ipad img {
        max-width: 100%;
    }

    .section-girl img.girl {
        left: -112px;
    }

    .screen-time {
        top: 200px;
        left: 50px;
    }

    .core-text {
        height: auto;
        max-width: 500px;
        margin-right: auto;
        margin-left: auto;
    }

    .set-aparts {
        padding-bottom: 35px
    }

    .set-apart-text {
        padding: 64px 20px 32px 20px;
    }

    .section-set-aparts {
        padding-top: 0;
        background-color: #4cc8ec;
    }

    .footer .container {
        width: 90%;
    }
}

@media (max-width: 767px) {
    .double-padding {
        padding: 0 10px;
    }

    .single-padding {
        padding: 0 10px;
    }

    .section-top {
        padding-top: 25px;
        height: 500px;
        background-image: none;
    }

    .section-top h1{
        font-size: 1.5em;
        margin-top: -3px;
        line-height: 30px;
    }

    .nav-links {
        position: absolute;
        top: 45px;
        right: 32px;
    }

    .ipad img {
        max-height: 300px;
    }

    .section-girl, .section-girl .container {
        height: 600px;
    }

    .section-girl img.girl {
        left: 0;
        width: 100%;
    }

    .screen-time {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
        padding-top: 120px;
        z-index: 3;
    }

    .screen-time img {
        margin: 0;
    }

    .screen-time p {
        font-size: 16px;
    }

    .screen-time h3 {
        text-align: center;
        font-size: 26px;
        line-height: 28px;
    }

    .set-aparts {
        padding-bottom: 35px
    }

    .visible-xs-inline {
        display: inline-block !important;
    }


}
